<div class="jumbotron">
  <div class="container header">
    <h1 id="site-title">A Pinch of That</h1>
    <h3 id="site-subtitle">Your minimal recipe box</h3>
    <div class="filter-menu row">
      <ul>
        <li>I want something </li>
        <li>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">sweet or savoury?</button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a>sweet</a></li>
              <li><a>savoury</a></li>
            </ul>
          </div><!--.dropdown-->
        </li>
        <li> and </li>
        <li>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">how long does it take to make?</button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <li><a>quick and easy</a></li>
              <li><a>yummy and ready within the next 2 hours</a></li>
              <li><a>I don't care how long it takes</a></li>
            </ul>
          </div><!--.dropdown-->
        </li>
        <li>.</li>
      </ul>
    </div><!-- /.filter-menu.row -->
    <div class="search-box row">
      <div class="col-lg-6">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
  </div>
</div>