<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="made-by pull-left">
      <p>Made with ♥ by <a href="http://tra-is.com/">Tra To</a></p>
    </div>
    <div class="pull-right"><a href="#" class="btn btn-info">Submit a recipe</a></div>
  </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>A Pinch of That</h1>
    <h3>Your minimal recipe box</h3>
    <p>I want something [Dropdown: Sweet | Savoury] and [Dropdown: Quick and easy | takes 1-2 hours to make | a project for the day ] </p>
    <br>
    <div class="row">
      <input type="text" name="" class="form-control" placeholder="search by name or main ingredients">
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Search &raquo;</a></p>
    </div><!-- /.row -->
    <br>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Dish 1</h2>
      <p>Ingredients: Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View instruction &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Dish 2</h2>
      <p>Ingredients: Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View instruction &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Dish 3</h2>
      <p>Ingredients: Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="#" role="button">View instruction &raquo;</a></p>
    </div>

  </div>

  <hr>
  <footer>
      <p>&copy; Made with <3 by Tra To</p>
  </footer>

</div> <!-- /container -->