<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="made-by pull-left">
      <p>Made with ♥ by <a href="http://tra-is.com/">Tra To</a></p>
    </div>
    <div class="pull-right"><a href="#" class="btn btn-info">Submit a recipe</a></div>
  </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container header">
    <h1>A Pinch of That</h1>
    <h3>Your minimal recipe box</h3>
    <br>
    <div class="filter-menu row">
      <ul>
        <li>I want something </li>
        <li>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">sweet or savoury?</button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a>sweet</a></li>
              <li><a>savoury</a></li>
            </ul>
          </div><!--.dropdown-->
        </li>
        <li> and </li>
        <li>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">how long does it take to make?</button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <li><a>quick and easy</a></li>
              <li><a>yummy and ready within the next 2 hours</a></li>
              <li><a>I don't care how long it takes</a></li>
            </ul>
          </div><!--.dropdown-->
        </li>
        <li>.</li>
      </ul>
    </div><!-- /.filter-menu.row -->
    <br>
    <div class="row">
      <input type="text" name="" class="form-control" placeholder="search by name or main ingredients">
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Search &raquo;</a></p>
    </div><!-- /.row -->
  </div>
</div>

<div class="container">
  <!-- Display view option toggle-->
  <div class="well well-sm">
    <strong>View as</strong>
    <div class="btn-group">
      <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list"></span>List</a>
      <a href="#" id="grid" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th"></span>Grid</a>
    </div>
  </div>
  <!--Main recipe display-->
  <div id="recipes">
    <div class="recipe col-xs-12 col-md-4 col-lg-4">
      <div class="name">
        <h4>Dish 1</h4>
      </div>
      <div class="ingredients">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
      </div>
    </div>
    <div class="recipe col-xs-12 col-md-4 col-lg-4">
      <div class="name">
        <h4>Dish 1</h4>
      </div>
      <div class="ingredients">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
      </div>
    </div>
    <div class="recipe col-xs-12 col-md-4 col-lg-4">
      <div class="name">
        <h4>Dish 1</h4>
      </div>
      <div class="ingredients">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
      </div>
    </div>
    <div class="recipe col-xs-12 col-md-4 col-lg-4">
      <div class="name">
        <h4>Dish 1</h4>
      </div>
      <div class="ingredients">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
      </div>
    </div>
    <div class="recipe col-xs-12 col-md-4 col-lg-4">
      <div class="name">
        <h4>Dish 1</h4>
      </div>
      <div class="ingredients">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
      </div>
    </div>
  </div><!--#recipes-->

  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Dish 1</h2>
      <p>Ingredients: Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View instruction &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Dish 2</h2>
      <p>Ingredients: Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View instruction &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Dish 3</h2>
      <p>Ingredients: Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="#" role="button">View instruction &raquo;</a></p>
    </div>

  </div>

  <hr>
  <footer>
      <p>&copy; Made with <3 by Tra To</p>
  </footer>

</div> <!-- /container -->