<navbar></navbar>
<!-- Main jumbotron for a primary marketing message or call to action -->
<header></header>

<div class="container">
  <!-- Display view option toggle-->
  <div class="well well-sm">
    <strong>View as</strong>
    <div class="btn-group">
      <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list"></span>List</a>
      <a href="#" id="grid" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th"></span>Grid</a>
    </div>
  </div>
  <!--Main recipe display-->
  <div id="recipes" ng-if="recipes">
    <ul>
      <li ng-repeat="recipe in recipes.recipes">
        <div class="recipe col-xs-12 col-md-4 col-lg-4" ng-if="recipe">
          <div class="name">
            <h4>{{recipe.name}}</h4>
          </div>
          <div class="ingredients">
            <p>{{recipe.ingredients}}</p>
          </div>
          <div>
            <a ui-sref="recipe({id: recipe.id})" class="btn btn-default">View recipe</a>
          </div>
        </div>
      </li>
    </ul>
  </div><!--/#recipes-->
  <footerSection></footerSection>
</div> <!-- /container -->