body {
  h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  h2 {
    font-family: 'Quicksand', sans-serif;
  }
  h3 {
    font-family: 'Quicksand', sans-serif;
  }
  h4 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
  }
  p {
    font-family: 'Open Sans', sans-serif;
  }
  .jumbotron {
    .header {
      .filter-menu {
        font-family: 'Quicksand', sans-serif;
        ul {
          font-weight: 600;
          font-size: 1.5em;
          list-style-type: none;
          li {
            list-style: none;
            display: inline-block;
            .dropdown {
              li {
                font-size: 14px;
                font-weight: normal;
                display: block;
                padding: 6px 12px;

              }
            }
          }
        }
      }/*.filter-menu*/
    }/*.header*/
  }/*.jumbotron*/
  .container {
    .glyphicon {
      margin-right: 5px;
    }
  }
}/*body*/


