<!DOCTYPE html>
<html>
  <head>
    <title>A Pinch Of That - A Low Key CSA Cookbook</title>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body ng-app="app" >
    <ui-view></ui-view>
  </body>
</html>
